@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans',sans-serif;
    background: url('/assets/1.jpg') no-repeat center center /cover;
    color: #f5f5f5;
}
.center-div{
    padding-top: 10%;

}
.btn.btn-sucesss{
    padding: .4em 2em ;
}
form{
    padding: 0 3em;

}
#login .title >span{
    font-size: 0.8em;
}